---
- name: reload user systemd
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  environment:
    XDG_RUNTIME_DIR: "/run/user/1000"

- name: enable obsidian-headless services
  ansible.builtin.systemd:
    name: "obsidian-headless-{{ item.agent_id }}.service"
    state: restarted
    enabled: true
    scope: user
  environment:
    XDG_RUNTIME_DIR: "/run/user/1000"
  loop: "{{ _obsidian_headless_workspaces }}"
  loop_control:
    label: "{{ item.agent_id }}"
